{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h2>Change Password</h2>

<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <label for="CurrentPassword">Current Password:</label><br>
    <input
            type="password"
            id="CurrentPassword"
            name="CurrentPassword"
            required
    ><br><br>

    <label for="NewPassword">New Password:</label><br>
    <input
            type="password"
            id="NewPassword"
            name="NewPassword"
            required
    ><br><br>

    <label for="ConfirmPassword">Confirm New Password:</label><br>
    <input
            type="password"
            id="ConfirmPassword"
            name="ConfirmPassword"
            required
    ><br><br>

    <input type="submit" value="Change Password">
</form>
{% endblock %}