<!doctype html>
<html>
  <body>
    <h2>Send a Message to Add a Pay Raise using HMAC with Encryption</h2>

    <form method="post" action="/sendaddpayraisehmac">
      <label for="EmpId">EmpId:</label>
      <input type="text" id="EmpId" name="EmpId"><br><br>

      <label for="PayRaiseDate">Pay Raise Date:</label>
      <input type="date" id="PayRaiseDate" name="PayRaiseDate"><br><br>

      <label for="RaiseAmt">Raise Amount:</label>
      <input type="text" id="RaiseAmt" name="RaiseAmt"><br><br>

      <input type="submit" value="Submit">
    </form>

    <br><br>
    <b><a href="/">Back to home</a></b>
  </body>
</html>
